html {
    text-align: center;
}

body {
    background-color: rgb(85, 150, 150);
    padding: 10px;
}
h1 {
    text-align: center;
    display: inline;
    padding: 10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 56;
    color: white;
    text-shadow: 10px 10px 5px black;
}
hr {
    color: black;

}

.rank {
    text-align: center;
    display: inline;
    padding: 10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32;
    color: white;
}

.search {
    text-align: center;
    display: inline;
    padding: 10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32;
    color: rgb(70, 70, 70);
}

.matches {
    padding: 50px;
    display: inline;
    color: white;
    
}

.match_table table{
    /* table-layout: fixed;
    width: 80%; */
    background-color: darkgray;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    box-shadow: 2px 2px 2px black;
}

.match_table th, td{
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid white;
    padding: 5px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.match_table td {
    color: black;
    text-shadow: none;
}

.winloss td{
}

section {
    /* border: 3   px solid white;
    box-sizing: 10px;
    box-shadow: 10px 10px 10px black; */
}